* {
  font-family: "Avenir", serif;
  font-size: 0.85rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

a, a:hover {
  color: inherit;
}

#artwork {
  height: 95vh;
}

#bottom {
  height: 5vh;
  z-index: 2;
}

#more, #back, .controls {
  cursor: pointer;
}

.controls:hover {
  text-decoration: underline;
}

#about {
  opacity: 0;
  z-index: 1;
  margin-top: 5%;
}